<app-cabecera-general></app-cabecera-general>

<div class="enunciado">
    <h3 class=""><strong>Usuarios administradores</strong></h3>
  </div>

<table class="table table-striped">
    <thead class="table-success">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Contraseña</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.password}}</td>
        <td>{{usuario.createAt}}</td>
      </tr>
  </table>

  