.formulario {
    padding: 20px;
    background-color: #e5e7e6;
    border: 1px solid #bcd0c7;
    border-radius: 5px;
    width: 60%;
    -webkit-box-shadow: 10px 10px 14px -3px rgba(156, 154, 156, 1);
    -moz-box-shadow: 10px 10px 14px -3px rgba(156, 154, 156, 1);
    box-shadow: 10px 10px 14px -3px rgba(156, 154, 156, 1);
}